{% extends "template.html" %}

{% block title %}
  <title>Contact App</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">

    {% if not context.user %}
    <div class="col-sm-12">
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 15px;">
        <h4 class="alert-heading">Welcome!</h4>
        <hr>
        Design a beautiful website that explain features and plans of your application.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {% endif %}

    {% for contact in contacts %}
      <div class="col-sm-3" style="margin-top: 15px;">
        <div class="card" style="border-left: 5px solid {{ contact.color }};">
          <a href="/contacts/edit/{{ contact.key.urlsafe() }}">
            <div class="card-img-top"></div>
            <div class="card-body" style="padding: 12px;">
              <h4>{{ contact.name }}</h4>
              <div class="mt8 text-muted"><i class="far fa-envelope"></i> {{ contact.email }}</div>
              <div class="mt8 text-muted"><i class="fas fa-mobile-alt"></i> {{ contact.phone }}</div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>
{% endblock %}