{% extends "template.html" %}

{% block title %}
  <title>Signup to Contact App</title>
{% endblock %}

{% block body %}
{% autoescape false %}
<div class="container">
  <div class="row">

    <git class="col-12 mt16">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Complete your profile!</strong><br/><hr/>Please fill all the infomration to complete your profile.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </git>

    <div class="col-md-6 mt16">
      <form action="/signup/configure" method="post" encrypt="multipart/form-data">

        <div class="form-group" style="display: none">
          {% if profile %}
            <input type="text" hidden class="form-control" name="profile_edit" id="profile_edit" value="{{ profile and profile.key.urlsafe() }}">
          {% endif %}
        </div>

        <div class="form-group">
          <label for="user_name"><strong>Contact Name</strong></label>
          <input type="text" class="form-control" name="user_name" id="user_name" placeholder="John Deo" value="{{ profile.name }}">
        </div>

        <div class="form-group">
          <label for="user_email"><strong>Alternate Email</strong></label>
          <input type="email" class="form-control" name="user_email" id="user_email" placeholder="johndeo@gmail.com" value="{{ profile.email }}">
        </div>

        <div class="form-group">
          <label for="user_phone"><strong>Contact</strong></label>
          <input type="text" class="form-control" name="user_phone" id="user_phone" placeholder="+1-(123)-456789" value="{{ profile.phone }}">
        </div>

        <div class="form-group">
          <label for="user_note"><strong>Details</strong></label>
          <textarea class="form-control" name="user_note" id="user_note" rows="3">{{ profile.note }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">{{ profile and 'Update Profile' or 'Setup Profile'}}</button>
        <a href="/contacts">Cancel</a>
      </form>
    </div>

    <div class="col-md-2 mt16">
    </div>
    <div class="col-md-4 mt16">
      <h5>Setup your profile</h5>
    </div>
  </div>
</div>
{% endautoescape %}
{% endblock %}